<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @are.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @are.body %>
</p>

<%= link_to 'Edit', edit_are_path(@are) %> |
<%= link_to 'Back', ares_path %>
